In [1]:
from functions import create_question, global_ranking, user_stats
from pymongo import MongoClient
import pandas as pd

In [2]:
create_question()

{'question': 'Napoleon Bonaparte was crowned Emperor of the French in the year 1804.',
 'answer': True,
 'category': 'History',
 'topic': 'Famous leaders and emperors'}

In [4]:
global_ranking()

  Username  Questions Taken  Percentage Correct
1    admin               33           60.606061

In [18]:
data = list(users_collection.find())
df = pd.DataFrame(data)
df = df[df['username']=='admin1']

jaison = {'Art':[df['Art_correct'].values[0]/df['Art_total'].values[0], int(df['Art_total'].values[0])],
            'Geography':[df['Geography_correct'].values[0]/df['Geography_total'].values[0], int(df['Geography_total'].values[0])],
            'History':[df['History_correct'].values[0]/df['History_total'].values[0], int(df['History_total'].values[0])],
            'Sports':[df['Sports_correct'].values[0]/df['Sports_total'].values[0], int(df['Sports_total'].values[0])],
            'Music':[df['Music_correct'].values[0]/df['Music_total'].values[0], int(df['Music_total'].values[0])],
            'Entertainment':[df['Entertainment_correct'].values[0]/df['Entertainment_total'].values[0], int(df['Entertainment_total'].values[0])],
            'Literature':[df['Literature_correct'].values[0]/df['Literature_total'].values[0], int(df['Literature_total'].values[0])],
            'Science':[df['Science_correct'].values[0]/df['Science_total'].values[0], int(df['Science_total'].values[0])]
            }

C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:5: RuntimeWarning: invalid value encountered in scalar divide
  jaison = {'Art':[df['Art_correct'].values[0]/df['Art_total'].values[0], int(df['Art_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:6: RuntimeWarning: invalid value encountered in scalar divide
  'Geography':[df['Geography_correct'].values[0]/df['Geography_total'].values[0], int(df['Geography_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:7: RuntimeWarning: invalid value encountered in scalar divide
  'History':[df['History_correct'].values[0]/df['History_total'].values[0], int(df['History_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:8: RuntimeWarning: invalid value encountered in scalar divide
  'Sports':[df['Sports_correct'].values[0]/df['Sports_total'].values[0], int(df['Sports_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:9: RuntimeWarning: invalid value encountered in scalar divide
  'Music':[df['Music_correct'].values[0]/df['Music_total'].values[0], int(df['Music_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:10: RuntimeWarning: invalid value encountered in scalar divide
  'Entertainment':[df['Entertainment_correct'].values[0]/df['Entertainment_total'].values[0], int(df['Entertainment_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:11: RuntimeWarning: invalid value encountered in scalar divide
  'Literature':[df['Literature_correct'].values[0]/df['Literature_total'].values[0], int(df['Literature_total'].values[0])],
C:\Users\marcf\AppData\Local\Temp\ipykernel_14660\3899702895.py:12: RuntimeWarning: invalid value encountered in scalar divide
  'Science':[df['Science_correct'].values[0]/df['Science_total'].values[0], int(df['Science_total'].values[0])]

In [19]:
jaison

{'Art': [nan, 0],
 'Geography': [nan, 0],
 'History': [nan, 0],
 'Sports': [nan, 0],
 'Music': [nan, 0],
 'Entertainment': [nan, 0],
 'Literature': [nan, 0],
 'Science': [nan, 0]}

In [8]:
user_stats('admin')

{'Art': [0.8, 5],
 'Geography': [0.5, 6],
 'History': [0.5, 4],
 'Sports': [0.25, 4],
 'Music': [0.5, 4],
 'Entertainment': [0.5, 4],
 'Literature': [1.0, 5],
 'Science': [1.0, 1]}